name: Generate contribution snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate Snake
        uses: Platane/snk@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            dist/snake.svg?color_snake=#A855F7&color_dots=#5B21B6,#6D28D9,#7C3AED,#8B5CF6,#A78BFA
            dist/snake-dark.svg?palette=github-dark&color_snake=#A855F7&color_dots=#5B21B6,#6D28D9,#7C3AED,#8B5CF6,#A78BFA

      - name: Deploy to output branch
        uses: JamesIves/github-pages-deploy-action@releases/v4
        with:
          branch: output
          folder: dist
          token: ${{ secrets.GITHUB_TOKEN }}
